/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*```````````````````````````````````` CODE START HERE ```````````````````````````````````````````
``````````````````````````````````````````````````````````````````````````````````````````````````*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FONT ABOVE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    body{
    font-family:  'Open Sans', sans-serif;
    margin: 0 auto; 
    }
    h2{
        font-size: 2rem;
        font-weight: bold;
        margin: 5px;
    }
    h3{
        font-size: 1.5em;
        margin: 5px;
        font-weight: 600;
    }
    h4{
        color:#222;
        font-weight: bold;
        border-bottom: solid #c78c06 2px;
        margin-bottom: 5px;
    }
    header{
        background-color: #222;
    }
    nav{
        text-align: center;
    }
    ul{
        list-style: none;
        align-items: center;
    }
    li{
       text-align: center;
       color:#c78c06;
       margin-bottom: 20px;
    }
    
    /* Style for home button */
    li .home{
        display: block;
        padding: auto;
        padding-bottom: 5px;
        background: #c78c06;
        color: #222;
        margin:none;
        text-decoration: none;
        text-align: center;
    }
    #find{
        background-color: #222;
        color:#c78c06;
        border: solid 2px #c78c06;
    }
    /* search bar details */
    #formn{
        display:flex;
        flex-wrap: nowrap;
        
      }
      #formn input{
       flex-grow:1;   
      }
    /* .searcher{
        /* width: 90%; */
        /* margin-right:10%;
    } */ 
    .container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .container input{
        width:100%;
        margin-left:10px;
    }
    .logo{
        height:100px;
        background: #c78c06;
    }
    #banner{
        margin:none;
    } 
    .position{
        position: relative;

    }
     .overlay{
        position: absolute;
    }
    .pad{
        padding: 20px;
    
    }
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Below the nav (three star media background code)~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    .overlay{
        background-image:url("../images/main-banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* test content */
    .overlaytext{
        color:white;
        background-color: #222222;
    }
    h1{
        font-size: 3rem;
        padding: 8px;
    }
    /* will need to send bg image to the back and adjust sizing */
     #threestars{
      color:white;
      background-color: rgba(34, 34, 34, 0.575);  
      margin-top:5%;
      margin-bottom: 5%;
      padding-left: 10px;
     }

    div .overlay #threestars{
     background-color: rgb(34, 34, 34);    
    }
     /* Button styling */
       #threestars #connect{
        color: #222222;
        font-size:1rem;
        background-color: #c78c06;
        padding: 10px;
        margin: 8px;
        border: none;
    }
    #banner{
        margin-top:5%;
    }
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~About Us info~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#us{
    background-color: #FFE6AC;
    padding: 15px;
    margin-bottom: 15px;
}
#us p{
    margin:5px;
}
/* ```````````~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Plans styling section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* background and general font styling */
#space{
    padding: 10px;
}
.about{
    background-color: #FFE6AC;
    border: 5px;
    margin: 5px;
}

/* padding for text */
.pad{
   padding:10px; 
}
/* paragraph specifics */
.about p{
    margin: 5px;
}
/* button styling */
.about button{
    font-size: 1em;
    background-color: #222222;
    margin: 5px;
    padding: 20px;
    border: none;
    color: white;
}
/* ````````````````````````~~~~~~~~~~Our Vision~~~~~~~~~~~~~``````````````````````````````````````````````````````` */
#vision{
    color:white;
    padding: 5px;
    position: absolute;
    margin:5px;
    top: 50%
}
#vision h3{
    margin-top: 5%;
    margin-bottom: 5%;
}
#vision p{
    margin-bottom: 5%;
}

#vision button{
    border: solid 2px #c78c06;
    background-color:#222;
    color: white;
    padding:20px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~The team background~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#tm{
    margin-top: 5%;
}
.team{
    background-color: #FFE6AC;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
/* a line separating titles*/
.line{
    padding: 5px;
    margin:5px;
}
.line p{
    margin-top: 5px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Contact~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#contact{
    display: block;
    padding:15px;
}
#contact form{
    margin-bottom: 5px;
}

#name, #email, #message{
    width:98%;
}
#send{
    background-color: #222;
        color:#c78c06;
        padding: 5px;
        display: block;
        border: none;
}
/* `````````````````Tables````````````````` */
table{
    margin:5%;
    width:90%;
}
tr{
    border: solid #222222 1px; 
    /* display:grid;
    grid-template-columns: 2fr 1fr;
    width: 90%; */
}
tbody th{
    text-align: start;
}
.right{
    border-right: solid #222222 1px;
}
thead{
    text-align: center;
    background-color: #FFE6AC;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer{
    background-color: #222222;
    color:#c78c06;
    padding:20px 25px 20px 20px;
    margin-top: 10px;
}

footer a{
    text-decoration-color: #c78c06;
    color: #c78c06;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MEDIA QUERY FOR FULL SCREEN~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 760px){
body{
    max-width: 1200px;
}
header{
    background: none;
}
header article{
    background-color: #222222;
    padding: 10px;
    /* display:flex;
    flex-direction: row;
    flex-shrink:0; */

}
.searcher{
    display: flex;
}
ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
li{
    margin:5px;
    padding: 5px;
 }
.logo{
    background: none;
}
li .home{
    padding:20px 25px 20px 25px;
}
/* .overlay{
    display:none;
}
.overlay:after{
    content:'';
    background-image: url("../images/main-banner.jpg");
    position: absolute;
    top:0;
    height:100%;
    
    left:50%;
    right:50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width:100vw;
    z-index: -1;
} */
/*---------------------------------------- Styling for our services */
/* article #space h2{
    display:flex;
    flex-wrap: wrap;
} */
/* h2 to be separate */

#space{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "one one one two two two"
                         "three three four four five five";
    justify-self: stretch;
    align-content: stretch;
}
#space div:nth-child(1){
    grid-area: one;
}
#space div:nth-child(2){
    grid-area: two;

}
#space div:nth-child(3){
    grid-area: three;

}
#space div:nth-child(4){
    grid-area: four;
}
#space div:nth-child(5){
    grid-area: five;
}
/* Vision replacement */
/* #vision:after{
    content:'';
    background-image: url("../images/vision.jpg");
    position: absolute;
    top:0;
    height:100%;
    
    left:50%;
    right:50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width:100vw;
    z-index: -1;
} */ */
/* Team CSS direction */
.team{
    display:flex;
    flex-direction: row;
}
}