/* Main Code start */


/* defaults for text and bbackground details */
html{
    background-color: #aad4cf;
    font-family: Calibri,Sans Serrif;
    margin: auto 20%;
}
#main{
    background-color: #d4e9e7;
    
}

/* Alaigning header and specific adjustments */
#starfish{
    color: ghostwhite;
}
header{
    text-align: center;
}

/* Contact specific Css */
#contact-info{
    border-style: solid;
}