/* Main Code start */


/*-------- Defaults for text and background details-------------------- */
html{
    background-color: #aad4cf;
    font-family: Calibri,Sans Serrif;
    margin: auto 20%;
        }
h3{
  float: left;
  text-align:center;
  margin: 10px 2px 2px;
  padding: 20px;
}
#main{
    background-color: #d4e9e7;
    }
    /* ---------------- Wrapping text around startfish image --------------------*/
#container{
     float: left;  

}
#contained{
    display: block;
    margin-right: 15px;
}

/* ---------------------- Aligning header and specific adjustments ----------------*/
#starfish{
    color: ghostwhite;
    ;
}
header{
    text-align: center;
    line-height: 10rem;
    background-image: url("../images/lone-starfish-wide.jpg");
    height: 400px;
    background-repeat: no-repeat;
}

/* ---------------- Contact specific Css --------------------------*/
#contact-info{
    border-style: solid;
}